<form action="imageupload" method="post" enctype="multipart/form-data">

    <input type="file" name="Image0" />
    <input type="file" name="Image1" />
    <input type="file" name="Image2" />
    <input type="file" name="Image3" />
    <input type="submit" />
</form>


