@model BioGamesTransport.Data.SQL.Orders
@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Új rendelés
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        <form asp-action="Create" enctype="multipart/form-data">
                            <div id="ValidAlertMessage" class="alert alert-danger alert-dismissable" style="display:none;">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <span id="AlertTextID"></span>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="panel-body">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs ">
                                    <li id="li1Step" class="active">
                                        <a id="Tab1Link" href="#customerTab" data-toggle="tab">Ügyfél</a>
                                    </li>
                                    <li id="li2Step">
                                        <a href="#orderTab" data-toggle="tab">Megrendelés</a>
                                    </li>
                                    <li id="li3Step">
                                        <a href="#productsTab" data-toggle="tab">Termékek</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="customerTab">
                                        @await Html.PartialAsync("~/Views/Orders/Partial/CreateCustomer.cshtml")
                                    </div>
                                    <div class="tab-pane fade" id="orderTab">
                                        @await Html.PartialAsync("~/Views/Orders/Partial/BasicOrder.cshtml")
                                    </div>
                                    <div class="tab-pane fade" id="productsTab">
                                        @await Html.PartialAsync("~/Views/Orders/Partial/CreateOrderDetails.cshtml")
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </form>
                    </div>
                </div>
           
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
